<div class="flex-container">
    <div class="menu">
        <strong>Menú</strong>
        <hr>
        <ul>
            <li><i class="fas fa-stream"></i><a (click)="cambiarVista('resumenDiario')">Resumen Diario</a></li>
            <li><i class="fas fa-user"></i><a (click)="cambiarVista('empleados')">Empleados</a></li>
            <li><i class="fas fa-clipboard-list"></i><a (click)="cambiarVista('informes')">Informes</a></li>
            <li><i class="fas fa-edit"></i><a (click)="cambiarVista('incidencias')">Incidencias</a></li>
            <li><i class="fas fa-play-circle"></i><a (click)="cambiarVista('fichajes')">Fichajes</a></li>
            <li><i class="fas fa-info-circle"></i><a href="https://fichar2.tallerempresarial.com/manual.pdf">Ayuda</a></li>
            <li><i class="fas fa-question-circle"></i><a (click)="cambiarVista('soporte')">Soporte</a></li>
            <li><i class="fas fa-cog"></i><a (click)="cambiarVista('preferencias')">Preferencias</a></li>
            <li><i class="fa-solid fa-arrow-left"></i><a href="javascript:history.back()">Volver</a></li>
        </ul>
    </div>

    <div [ngSwitch]="vistaActual">
        <div *ngSwitchCase="'resumenDiario'">
            <app-resumen [workers]="workers"></app-resumen>
        </div>
        <div *ngSwitchCase="'empleados'">
            <app-empleados [workers]="workers"></app-empleados>
        </div>
        <div *ngSwitchCase="'informes'">
            <app-informes [workers]="workers"></app-informes>
        </div>
    </div>
</div>