<div>
  <a href="javascript:history.back()"><i class="fa fa-arrow-left"></i>Volver</a>
  <form (ngSubmit)="onSubmit()">
      <h2>Informes</h2>
      <div class="form-group">
        <label for="startDate">Fecha de inicio:</label>
        <input id="startDate" type="date" id="startDate" [(ngModel)]="startDate" name="startDate" required>
      </div>
    
      <div class="form-group">
        <label for="endDate">Fecha de finalización:</label>
        <input id="endDate" type="date" id="endDate" [(ngModel)]="endDate" name="endDate" required>
      </div>

      <p id="error"></p>
      <!-- Campo oculto que adquiere el valor del código del empleado -->
      <input type="hidden" id="employeeCode" [(ngModel)]="employeeCode" name="employeeCode" value="{{employeeCode}}">
    
      <button type="submit">Resumen</button>
  </form>
</div>
